body {
  background:#eaeaea;
  font-family:"TH Sarabun New", sans-serif;
  font-size: 22px;   /* ⬅️ เพิ่มบรรทัดนี้ */
}
.paper {
  background:white;
  width:850px;
  margin:30px auto;
  padding:40px;
  border-radius:8px;
}

h2,h3 {
  text-align:center;
}

input, textarea, select {
  width:100%;
  margin:6px 0;
  padding:8px;
}

.tab {
  text-align:center;
  margin-bottom:22px;
}

.tab button {
  padding:10px 25px;
  margin:5px;
  border:none;
  background:#0056b3;
  color:white;
  border-radius:6px;
}

.hide {
  display:none;
}

.note {
  font-size:22px;
  color:#555;
}

.long-text {
  margin:22px 0;
  font-size:22px;
}

@media print {

  body {
    background: white;
    font-size: 22px;   /* ⬅️ เพิ่ม */
  }

  .tab,
  button {
    display: none;
  }

  .paper {
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

  input, textarea {
    border: none;
    outline: none;
    font-size: 22px;
  }
}

@page {
  size: A4;
  margin: 2cm;
}